.floating {
    padding: 10px;
    width: 310px;
}
.fixed {
    width: 310px;
    padding: 10px;
    position: fixed;
    top: 75px;
}

.like-panel {
    position: absolute;
    bottom: 25px;
}

.fa-heart.like {
    color: red;
}
